.exchg.ui.inverted.vertical.footer.segment{
    .grid{
        div:last-child{
            a{
                i{
                    font-size: 40px;
                    margin: 2px;
                }
            }
        }
    }
}