.exchg.ui.vertical.masthead.center.aligned.segment{
    position: relative;
    img{
        width: 100px;
        height: 100px;
        left: 0;
        right: 0; 
        margin: auto;
        position: absolute;
    }
    .grid{
        margin-top:100px;
    }
}