
.exchg.ui.header.text.container{
    min-height: calc(100vh - 353px);
    padding-top: 128px;

    .error.message{
        font-size: 12px;
    }

    .field{
        label{
            font-size: 12px;
            padding-left: 2px;
        }
    }
}